:root {
    --primary-color: #2d5986;
    --secondary-color: #d1d1e0;
    --third-color: #666666;
    --fourth-color: #8cb3d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #f2f2f2;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    display: flex;
    padding: 10px 15px;
}

header ul li a {
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--third-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 20px 60px 60px 60px;
}

.hero {
    background-image: url(https://cdn.wallpapersafari.com/69/92/0omqsH.jpg);
    padding: 100px;
    display: flex;
    justify-content: flex-end;
}

.hero-title {
    color: var(--third-color);
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.about-me-content {
    display: flex;
    align-items: center;
    background: var(--fourth-color);
    padding: 15px 25px 15px 25px;
}

.about-me-content p {
    width: 100%;
    padding-right: 100px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section-header {
    padding: 0 100px 0 0;
    font-size: 28px;

}

.headshot {
    height: 25.75vw;
    width: 25.75vw;


}