:root {
    --primary-color: #2d5986;
    --secondary-color: #d1d1e0;
    --third-color: #666666;
    --fourth-color: #8cb3d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
}

/* Header Section */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #f2f2f2;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header ul li {
    display: flex;
    padding: 10px 15px;
}

header ul li a {
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--third-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Sections */
section {
    padding: 20px 60px 60px 60px;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--secondary-color);
}

section h2 {
    padding: 0 100px 0 0;
    font-size: 4.00vw;

}

/* Hero Section  */
.hero {
    background-image: url(https://cdn.wallpapersafari.com/69/92/0omqsH.jpg);
    padding: 100px;
    display: flex;
    justify-content: flex-end;
}

.hero-title {
    color: var(--third-color);
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* About Me Section */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
}

.about-me-content {
    display: flex;
    align-items: center;
    background: var(--fourth-color);
    padding: 25px;
}

.about-me-content p {
    width: 100%;
    padding-right: 100px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.headshot {
    height: 25.75vw;
    width: 25.75vw;
}

/* Work Section */

.work {}

.work-header {
    display: flex;
}

.main-work {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

.main-work img {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--secondary-color);
    filter: blur(8px);
    -webkit-filter: blur(3px);
}

.main-work img:hover {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--primary-color);
    filter: blur(8px);
    -webkit-filter: blur(3px);
}

.image-tag {
    position: absolute;
    margin: 15em 40em 15em 0em;
    color: #f2f2f2;
    font-size: 1.25vw;
    background-color: var(--fourth-color);
    height: 6.00vw;
    width: 13.00vw;
    padding: 10px;
    text-align: center;
    text-emphasis: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-tag:hover {
    position: absolute;
    margin: 15em 40em 15em 0em;
    color: #f2f2f2;
    background-color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-tag a {
    color: #f2f2f2;
    text-decoration: none;
}

.secondary-work {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 15px;
}

.secondary-work div {
    color: var(--secondary-color);
}

.worklist-img {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--secondary-color);
    filter: blur(8px);
    -webkit-filter: blur(3px);
    padding-left: 15px;

}

.secondary-work img:hover {
    border: 3px solid var(--primary-color);
    filter: blur(8px);
    -webkit-filter: blur(3px);
}

.secondary-work li {
    display: inline-block;
    padding-right: 10px;
    position: relative;
}

.fakeproject1 {
    width: 100%;
    height: 88%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid var(--secondary-color);
    filter: blur(8px);
    -webkit-filter: blur(3px);
    padding-left: 15px;
}

.second-image-tag {
    position: absolute;
    margin: 6em 10em 6em 2em;
    color: #f2f2f2;
    font-size: 1.25vw;
    background-color: var(--fourth-color);
    height: 6.00vw;
    width: 13.00vw;
    padding: 10px;
    text-align: center;
    text-emphasis: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.second-image-tag:hover {
    position: absolute;
    margin: 6em 10em 6em 2em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    text-emphasis: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.second-image-tag h3,
.second-image-tag p {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Contact Me Section */

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-content {
    display: flex;
    background: var(--fourth-color);
    padding: 25px;
}

.contact-me-content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.contact-me-content ul li {
    display: flex;
    padding: 10px 15px;
}

.contact-me-content ul li a {
    font-size: 1.75vw;
    border-bottom: 1px solid var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-me-content ul li a:hover {

    color: var(--third-color);
    text-shadow: none;
}